<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://cdn.tiny.cloud/1/iphbqgfbyn2skqrc0gjvpezjf0ylwdk1tmkj4ohz3phkwbo0/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
